<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Articulo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2 th:text="#{articulo.titulo}">Lista de Articulos</h2>
        <a th:href="@{/articulo/nuevo}" th:text="#{articulo.nuevo}">Nuevo Articulo</a>
        <br />
        <br />
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th th:text="#{articulo.descripcion}">Descripción</th>
                            <th th:text="#{articulo.precio}">Precio</th>
                            <th th:text="#{articulo.existencias}">Existencias</th>
                            <th th:text="#{articulo.activo}">Activa</th>
                            <th th:text="#{accion.actualizar}">Actualizar</th>
                            <th th:text="#{accion.eliminar}">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${articulos}">
                            <td th:text="${item.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(item.precio, 3, 2)}" style="text-align: right"></td>
                            <td th:text="${item.existencias}" style="text-align: center"></td>
                            <td><input type="checkbox" name="activa" th:cheked="${item.activo}" disabled="true"></td>
                            <td><a th:href="@{/articulo/modificar/} + ${item.idArticulo}"
                                   th:text="#{accion.actualizar}">Modificar</a></td>
                            <td><a th:href="@{/articulo/eliminar/} + ${item.idArticulo}"
                                   th:text="#{accion.eliminar}">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table> 
            </div>  
            <div th:if="${articulos == null or articulos.empty}">
                [[#{articulo.no_mostrar}]]
            </div>
        </div>
     <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
