*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 45px 20px 0px;
}

.header{
    background-color: navy;
    height:12%;
    top: 0;
    left:0;
    width: 100%;
    position: fixed;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: auto;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 25px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 100px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 15px;
    margin: 10px;
    line-height: 80px;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 10px; 
}

.nav-menu-link:hover{
    font-size: 22px;
    background-color: cyan;
    transition: 0.5s;
}
.contenido{
    background-color: lavender;
    position: fixed;
    top: 80px;
    bottom: 20px;
    left: 0;
    width: 100%;
    overflow: auto;
    padding-left: 15px;
}

.footer{
    background-color: black;
    text-align: center;
    color: white;
    height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}










