<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
       <!-- <div>Saludos desde MVC</div>
        <P th:text="${Mensaje}"></P>
        
        <br/>
        <br/>
        <p>Nombre: <span th:text="${cliente.nombre}"></span></p>
        <p>Apellidos: <span th:text="${cliente.apellidos}"></span></p>
        <p>Correo: <span th:text="${cliente.correo}"></span></p>
        <p>Telefono: <span th:text="${cliente.telefono}"></span></p>-->
        
       <h1>Lista de Clientes</h1>
       <div th:if="${clientes != null and ! clientes.empty}"></div>
       <table border="1">
           <thead>
           <th>Nombre</th>
           <th>Apellidos</th>
           <th>Correo</th>
           <th>Teléfono</th>
           </thead>
           <tbody>
               <tr th:each="item : ${cliente}">
                   <td th:text="${item.nombre}"></td>
                   <td th:text="${item.apellidos}"></td>
                   <td th:text="${item.correo}"></td>
                   <td th:text="${item.telefono}"></td>
               </tr>
           </tbody>
       </table> 
        
       
       
    </body>
</html>
